.CongestionWide {
    display: flex;
    height: calc(var(--vh, 1vh) * 9);
    padding: 0 10vw;

    font-family: 'JejuGothic', cursive;
    font-size: calc(var(--vh, 1vh) * 3);
}

.PlaceTitle {
    display: flex;
    padding-left: 5vw;
    justify-content: left;
    align-items: center;
    flex: 5;
}

.LevelTitle {
    display: flex;
    color: #A9A9A9;
    padding-right: 15vw;
    justify-content: right;
    align-items: center;
    float: left;
    flex: 2;
}
.Spare{
    color: #3030D2;
}
.General{
    color: #53B651;
}
.Caution{
    color: #EBC854;
}
.Congestion{
    color: #C84A3F;
}