.CongestionWide {
    display: flex;
    height: calc(var(--vh, 1vh) * 7);
    padding: 0 10vw;

    font-family: 'JejuGothic', cursive;
    font-size: calc(var(--vh, 1vh) * 2.5);
}

.PlaceTitle {
    display: flex;
    width: 50vw;
    justify-content: center;
    align-items: center;
}

.LevelTitle{
    display: flex;
    width: 20vw;

    color: #A9A9A9;

    justify-content: center;
    align-items: center;
}