.CongestionWide {
    display: flex;
    height: calc(var(--vh, 1vh) * 9);
    padding: 0 10vw;

    font-family: 'JejuGothic', cursive;
    font-size: calc(var(--vh, 1vh) * 3);
}

.PlaceTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 5;
}

.LevelTitle {
    display: flex;
    color: #A9A9A9;
    justify-content: center;
    align-items: center;
    float: left;
    flex: 4;
}
.Spare{
    color: #3AB0FF;
}
.General{
    color: #53B651;
}
.Caution{
    color: #EBC854;
}
.Congestion{
    color: #C84A3F;
}

.waiting_person{
    font-size: calc(var(--vh, 1vh) * 2);
}